* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.body {
  /*background-image: url("./img/playa.jpg");
  background-position: center center;
  background-size: auto;*/
  background-color: #fbda61;
  background-image: linear-gradient(135deg, #fbda61 0%, #ff5acd 100%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100vh;

  /* position: relative; */

  /* padding-top: 5%; */
  /* gap: 4px; */

  font-family: "Courier New", Courier, monospace;
}

.header {
  background: linear-gradient(
    #ffffff00 0%,
    #ffffff50 10%,
    #ffffff50 85%,
    #ffffff00 100%
  );

  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  width: 600px;
  height: 40px;
}

.title {
  background-color: #ffe53b;
  background-image: linear-gradient(225deg, #ff9a3b 0%, #ff2525 74%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burger {
  width: 18px;
}

.ctrl-btns {
  display: flex;

  align-items: center;

  gap: 4px;
}

.ctrl-btns button {
  width: 20px;
  height: 20px;

  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 5px gray;
  /* font-size: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctrl-btns .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff50;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  /* max-width: inherit; */
  gap: 2px;
  height: calc(100vh - 40px);
  /* width: 100%; */
  width: 600px;
  /* height: auto; */
  position: relative;
}

.game {
  background-color: #ffffff80;
  border-radius: 8px;
  aspect-ratio: 1/2;
  height: 100%;
  width: auto;
}

.main-msg {
  position: absolute;
  top: calc(100vh / 3);
  margin: 0 auto;
  z-index: 99;

  color: brown;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 2px 2px 4px gray;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff80;
  width: 100%;
  height: 100%;
  /* min-width: 200px; */
  padding: 8px;
  border-radius: 8px;
}

.left {
  gap: 5px;
  font-size: 1.5em;
}

.right {
}

.flex-row {
  display: flex;
}

.pix {
  /* width: 20px; */
  /* height: 20px; */
  aspect-ratio: 1/1;
  width: 10%;

  border-top: 2px solid #55555560;
  border-right: 2px solid #55555560;
  border-bottom: 2px solid #ffffff60;
  border-left: 2px solid #ffffff60;
  border-radius: 4px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.lightgreen {
  background-color: lightgreen;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.violet {
  background-color: violet;
}

.blueviolet {
  background-color: blueviolet;
}

.orange {
  background-color: orange;
}

.orangered {
  background-color: orangered;
}

.keys {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.keys .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff50;
  width: 100px;
  aspect-ratio: 1/1;
  font-size: 60px;
  color: #ff9a3b;
  box-shadow: 0 0 8px -2px lightseagreen;
}

.keys-left {
  left: 5px;
}

.keys-right {
  right: 5px;
}

@media (max-width: 610px) {
  .header {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .side {
    min-width: unset;
    width: 100%;
    font-size: smaller;
    border-radius: unset;
  }

  .left {
    border-radius: 0 8px 8px 0;
  }
  .right {
    border-radius: 8px 0 0 8px;
  }
}

@media (max-width: 510px) {
  .ctrl-btns {
    /* flex-direction: column; */
    align-items: center;
    gap: 4px;
  }

  .side button {
    width: 80%;
  }
}

@media (max-width: 410px) {
  .side {
    display: none;
  }
}
